* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #8f57fd;
  font-family: "Mulish", sans-serif;
}

.body-login{
  background: linear-gradient(#21C08B, #AB88FF);


}

.header-index {
  display: flex;
  background-color: #8f57fd;
}

.barra-navegacion {
  display: flex;
  justify-content: flex-end;

  width: 100%;
  margin-right: 30px;
}

.nav-list {
  list-style: none;
  padding: 20px;
  text-align: center;
}

.img-header .logo-header {
  width: 14rem;
  height: 4rem;
}

.navegacion-perfil {
  width: 100px;
  display: flex;
  align-items: center;
}

.navegacion-perfil ul {
  display: none;
  list-style: none;
  padding: 0px;
  position: absolute;
  width: 100px;
  text-align: right;
  margin: 0px;
  margin-top: 60px;
}

.navegacion-perfil:hover ul,
ul:hover {
  display: block;
}

.navegacion-perfil li {
  margin: 10px 0px;
}

.navegacion-perfil li a {
  color: white;
  text-decoration: none;
}

.navegacion-perfil li a:hover {
  text-decoration: underline;
}

.navegacion-perfil p {
  display: flex;
  color: white;
}

.main {
  height: 300px;
}

.barra-busqueda{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 200px;
  padding-bottom: 50px;
}

.main-title {
  color: white;
  font-size: 25px;
}

.main-input {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  height: 50px;
  padding: 0px 20px;
  width: 70%;
  outline: none; /*Quita los bordes cuando uno le da click*/
}

::placeholder {
  color: white;
}

.carousel {
  width: 100%;
  overflow: hidden ;
  padding: 30px;
  position: relative;
}

.carousel-container {
  white-space: nowrap; /*con esta propiedad los elementos seguiran de largo como un block de notas*/
  margin: 70px 0px;
  padding-bottom: 10px;
}

.carousel-container-item {
  background-color: palevioletred;
  width: 200px;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  transition: 450ms all; /*animacion mas fluida*/
  transform-origin: center left; /*para que se mueva o algo asi(averiguar)*/
  position: relative;
}

.carousel-container-item:hover ~ .carousel-container-item {
  transform: translate3d(100px, 0, 0);
}

.carousel-container:hover .carousel-container-item {
  /*cuando selecciono uno los demas se vuelven opacos*/
  opacity: 0.3;
}
.carousel-container:hover .carousel-container-item:hover {
  /*incrementar tamaño*/
  transform: scale(1.5);
  opacity: 1;
}

.carousel-container-item-img {
  width: 200px;
  height: 250px;
  object-fit: cover; /*para que la imagen recupere su tamaño original*/
}

.carousel-container-item-detalles {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  font-size: 10px;
  opacity: 0;
  transition: 450ms opacity;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.carousel-container-item-detalles img {
  height: 15px;
}

.carousel-container-item-detalles p {
  margin: 0px;
}

.carousel-container-item-detalles:hover {
  opacity: 1;
  color: white;
}

/*Estilos del login*/

.header-login {
  display: flex;
}

.header-register{
  display: flex;
}



.login{

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 30px;
  min-height: calc(100vh - 200px);
}

.register{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 30px;
  min-height: calc(100vh - 200px);
}



.login-container{
background-color: rgba(255, 255, 255, 0.1);
border: 2px solid white;
border-radius: 40px;
color: white;
padding: 60px 68px 40px;
min-height: 700px;
display: flex;
justify-content: space-around;
flex-direction: column;
}

.register-container{
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 40px;
  color: white;
  padding: 60px 68px 40px;
  min-height: 700px;
  width: 430px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.login-container-form{

  display: flex;
  flex-direction: column; /*Direccion de los elementos en columna*/

}

.register-container-form{ /*a partir de aqui ya toma la forma de columna , no antes*/
  display: flex;
  flex-direction: column;
}


.login-container-remember-me a{
  color: white;
  font-size: 14px;
  text-decoration: none;
}

.login-container-remember-me a:hover{
  text-decoration: underline;
}

.login-container-social-media > div{
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 8px ;
  margin-top: 5px;
}

.login-container-social-media p {
  margin-left: 10px;
}

.login-container-social-media img {
  width: 30px;
  height: 30px;
}



.login-container-register {
  font-size: 14px;
}

.register-container-inicio-sesion{
  font-size: 14px;
}


.login-container-register a {
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.register-container-inicio-sesion a{
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.login-container-register a:hover {
  text-decoration: underline;
  
}

.register-container-inicio-sesion a:hover{
  text-decoration: underline;
}

.input{
  background-color: transparent;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px solid white;
  color: white;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 0px 20px;
  outline: none;
  height: 50px;


}

::placeholder{
  color: white;
}

.button{
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: "Mulish", sans-serif;
  height: 50px;
  letter-spacing: 1px;
  margin: 10px 0px;
}

.footer{
  display: flex;
  align-items: center;
  height: 100px;
  width: 100px;
}

.footer-login a{
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}

.footer-register{
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;

}


.footer-login a:hover{
  text-decoration: underline;
}

.footer-register a:hover{
  text-decoration: underline;

}







