* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #8F57FD;
  font-family: "Mulish", sans-serif;
}

header {
  display: flex;
  background-color: #8F57FD;
}

.barra-navegacion {
  display: flex;
  justify-content: flex-end;

  width: 100%;
  margin-right: 30px;
}

.nav-list {
  list-style: none;
  padding: 20px;
  text-align: center;
}

.img-header .logo-header {
  width: 14rem;
  height: 4rem;
}

.navegacion-perfil {
  width: 100px;
  display: flex;
  align-items: center;
}

.navegacion-perfil ul {
  display: none;
  list-style: none;
  padding: 0px;
  position: absolute;
  width: 100px;
  text-align: right;
  margin: 0px;
  margin-top: 60px;
}

.navegacion-perfil:hover ul,
ul:hover {
  display: block;
}

.navegacion-perfil li {
  margin: 10px 0px;
}

.navegacion-perfil li a {
  color: white;
  text-decoration: none;
}

.navegacion-perfil li a:hover {
  text-decoration: underline;
}

.navegacion-perfil p {
  display: flex;
  color: white;
}

.main{
  height: 300px;
}

.main-title{
  color: white;
  font-size: 25px;
}

.main-input{
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  height: 50px;
  padding: 0px 20px;
  width: 70%;
  outline: none;

}

::placeholder{
  color: white;
}

